{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block body %}
{% if session['logged_in'] %}
<p>Oh no Dont show page</p>
{% else %}
<div class="row">
  <div class="col-5">
    <nav class="navbar navbar-expand-lg ">
      <div class="d-flex flex-grow-1">
        <a class="navbar-brand" href="/">
          Upscale.io
        </a>
      </div>
    </nav>

    <div class="jumbotron" style="background-color: transparent; bottom:0; margin-top:450px; margin-left:2%;">
      <h2 style="color: #324826; font-family: 'Roboto', sans-serif;">Same picture. Better
        <span style="color: #658554; font-family: 'Roboto', sans-serif;" class="txt-rotate" data-period="2000"
          data-rotate='[ "Quality.", "Image.", "Resoultion.", "Pixels.", "You." ]'></span>
      </h2>
      <h5 class="sub-text">How far would you go to keep</h5>
      <h5 class="sub-text"> the hope of upscaling?</h5>
    </div>
  </div>
        
  <div class="col-7 rightBar" >
    <div class="right_box">
      <div class="right_top_text">
        <label style="font-size: 40px; margin-bottom: 40px;">Register</label>
        <label style="font-size: 21px; margin-bottom: 13px;">Register your account</label>
        <label style="font-size: 12px;margin-bottom: 40px;">Lets get you all set up so that you can verify your account and begin setting <br>
          up your profile.</label>
      </div>
      
      <form class="form_register" action="/register/" method="POST" >
        <div class="row form_register2">
          <div class="col-6">
            <div>
              <label for="username">Username</label>
              <input type="username" name="username" >
            </div>
            <div>
              <label for="password">Password</label>
              <input type="password" name="password" >
            </div>
          </div>
          <div class="col-6">
            <div>
              <label for="email">Email</label>
              <input type="e-mail" name="email" >
            </div>
            <div>
              <label for="number">Number</label>
              <input type="number" name="phone" >
            </div>
          </div>
        </div>
        <input type="submit" value="Sign up">
      </form>
    </div>
    
  </div>
</div>

{% endif %}
{% endblock %}