{% extends "base.html" %}
{% block title %}Discuss{% endblock %}
{% block body %}

<div class="row">
    <div class="col-2" style="background-color: #25283D;position: fixed; z-index: 999; ">
        <section id="left-container" style="padding: 0;"> 
            <section  class="d-flex flex-column" >
                <div style="height: 90vh;">
                    <div class="auth-container" style="padding-left: 11%; padding-right:10%;">
                      <header style="color: white; padding-top: 15%;"><h1 style="font-size:31px;font-family: 'Roboto', sans-serif; font-weight: 400; "><a href="/"> <strong style="color:white;">Upscale.io</strong></a></h1>
                        <div style="margin-top:50px;">
                            <nav class="tab-nav">
                              <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#menu2" style="padding: 0; display: block;font-size: larger;">Discussion</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" data-toggle="pill" href="#menu1" style="padding: 0; display: block;font-size: larger;">Article</a>
                                  <a class="nav-link" data-toggle="pill" href="#rrdb" style="padding: 0; display: block;font-size:x-small;">RRDBX4</a>
                                  <a class="nav-link" data-toggle="pill" href="#new1" style="padding: 0; display: block;font-size:x-small;">30img_95epoch_DIV2K</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  href="/profile" style="padding: 0; display: block; font-size: larger;"><i class="bi bi-arrow-left"></i> Back</a>
                                  </li>
                                <li class="nav-item" id="logout">
                                    <a href="/logout" class="nav-link" style="padding: 0; display: block;font-size: large;">Log out</a>
                                </li>
                              </ul>  
                           
                            </nav>
                        </div>
                        </header>
                      </header>
                    </div>
            
                </div>
            
        </section>
    </div>
    
    <div class="col-10 rightBar" >
        <div class="tab-content">
            <div class="tab-pane container fade" id="menu1">
                <div class="right-box">
                    <section class="auth-nav">
                        <section class="auth-link"></section>
                    </section>
                    <div class="col align-self-center auth-container2" style="width: 100%; margin-left:20%; margin-right:20% ;height:100%;margin-top: -180px;">
                    <div class="container">
                        <h4 class="history" style="color: #618985; width: 50%;">Why write an Article ?</h4>
                          <p>It's fun, It's creative and you are sharing it for the team</p>
                        
                    <br><br><br><br>
                    <h4 class="history" style="color: #618985; width: 50%;">Get started</h4>
                    <div class="col align-self-center auth-container2" style="margin-top: 10px; margin-left: -1.5%;">
                        <form action="{{ url_for('article') }}" method="post" enctype="multipart/form-data">
                            <div class='form-group'>
                              <label for='title' style="float: left; margin-right: 10px; margin-top: 10px; ">Title:</label>
                              
                              <input type='text' class='form-control' id='title' name='title' value=" "  style="width: 40%; float: left; margin-top: 2px;" />
                              <label for='model' style="float: left; margin-left: 10%; margin-right: 10px; margin-top: 10px;">Model</label>
                              
                              <select  class="form-control model" id="chooseModel" name="chooseModel" style="display: inline-block; width: 150px;">
                                <option >RRDB_ESRGAN_x4</option>
                                <option >latest_G</option>
                                <option >30img_95epoch_DIV2K</option>
                            </select>
                            <input  class="float-left" type=file name=file placeholder="file" id="file" style="margin-top: 2%;">
                            <br>
                            <br>
                            </div>
                            <div class='form-group'>
                              {# including the SummerNote control on the form, from CDN #}
                              <label for='summernote'> </label>
                              <textarea id="summernote" name="body" class='form-control'></textarea>
                              <script>
                              $('#summernote').summernote({
                                placeholder: '',
                                tabsize: 2,
                                height: 200,
                                toolbar: [
                                        // [groupName, [list of button]]
                                        ['style', ['bold', 'italic', 'underline', 'clear']],
                                        ['font', ['strikethrough', 'superscript', 'subscript']],
                                        ['fontsize', ['fontsize']],
                                        ['color', ['color']],
                                        ['para', ['ul', 'ol', 'paragraph']],
                                        ['height', ['height']],
                                        ['insert', ['link','picture']],
                                        ['misc', ['codeview']]
                                    ]
                                  });
                            </script>
                            </div>
                            <div class='form-group'>
                              {# note we use same name for Save and Cancel buttons, but a different value #}
                              <button type="submit" name="submit" value="submit" class="btn btn-info">Post</button>
 
                            </div>
                            
                          </form>
                            
                    </div>
                    </div>
                    
                </div>
            </div>
            </div>
            <div class="tab-pane container active" id="menu2">
                <div class="right-box">
                    <section class="auth-nav">
                        <section class="auth-link"></section>
                    </section>
                    <div class="col overflow-auto align-self-center auth-container2" style="width: 50%; margin-left:10%; margin-right:20% ;height:50% ;margin-top: -180px;">
                    <div class="container">
                        {% for article in articles %}
                        <div style="margin-left: 20%;">
                            {% if check.id == article.user_id %}
                            {% for users in alluser %}
                                {% if  users.id == article.user_id%}
                                  {% if users.isAdmin == "1" %}
                                    <font color="teal"> <font color="red">[[ ADMIN ]]</font> {{users.name}} </font>
                                  {% else %}
                                    <font color="teal"> {{users.name}} </font>
                                  {% endif %}
                                {% endif %}
                            {% endfor %}
                                <div class="card" style="width: 18rem; border-color: #25283D; background-color: #618985; color: white;">
                                    <div class="card-body">
                                    <p class="card-text">{{article.body | safe}}</p>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            {% else %}
                            {% for users in alluser %}
                                {% if  users.id == article.user_id%}
                                  {% if users.isAdmin == "1" %}
                                    <font color="red">[[ ADMIN ]]</font> {{users.name}}
                                  {% else %}
                                    {{users.name}}
                                  {% endif %}
                                {% endif %}
                            {% endfor %}
                            <div class="card" style="width: 18rem; border-color: #618985">
                                <div class="card-body">
                                <p class="card-text">{{article.body | safe}}</p>
                                </div>
                                <br>
                                <br>
                                <br>
                            </div>
                            {% endif %}

                            <br>
                            
                        </div>

                        {% endfor %}
                        <button class="fixed-bottom type btn" onclick="myFunction()" ><i class="bi bi-code" style="color: white;"></i></button>
                        <div class='fixed-bottom container' style="margin-left: 19%;">
                            <div id="summer"  style="display: none;">
                            <form method="post">
                                
                                  <div class='form-group' style="display: inline-block; margin-bottom: 0; position: relative;">
                                    {# including the SummerNote control on the form, from CDN #}
                                    <textarea id="summernote1" name="body" class='form-control'> </textarea>
                                    <script>
                                    $('#summernote1').summernote({
                                        placeholder: '',
                                        tabsize: 2,
                                        height: 100,
                                        width:1050,
                                        toolbar: [
                                        // [groupName, [list of button]]
                                        ['style', ['bold', 'italic', 'underline', 'clear']],
                                        ['font', ['strikethrough', 'superscript', 'subscript']],
                                        ['fontsize', ['fontsize']],
                                        ['color', ['color']],
                                        ['para', ['ul', 'ol', 'paragraph']],
                                        ['height', ['height']]
                                    ]
                                    });
                                    </script>
                                </div>
                                <button type="submit" name="comment" value="submit" class="fixed-button btn btn-info" style="display: inline-block; background-color: #618985; ">Post</button>
                            </form>
                            {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="margin-top: 15px ; z-index: 999;">
                <span>{{ message }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
          {% endif %}
          {% endwith %}
                        </div>
                        </div>
                        </div>
                    
                    </div>
                
            </div>
          </div>
        
        
        <div class="tab-pane container fade" id="rrdb">
          <div class="right-box">
              <div class="col align-self-center auth-container2" style="width: 100%; margin-left:20%; margin-right:20% ;height:100%;margin-top: 10%;">
                {% for article in article %}
                  
                  {% if article.model == "RRDB_ESRGAN_x4" %}
                  <div class="card articles" style="width: 18rem; display: inline-block;">
                    <a href="/article/{{article.id}}">
                    <img class="card-img-top" src="static/article/{{article.img_name}}" alt="{{article.ing_name}}" style="height: 20rem;">

                    <div class="card-body">
                      <p class="card-text">{{article.title | safe}}  </p>
                  {% for users in alluser %}
                  {% if users.id == article.user_id %}
                    <p style="font-size: small; float: right;">BY:  {{users.name}}</p>
                  {% endif %}
                  {% endfor %}
                    </div>
                  </a>
                  </div>
                  {% endif %}
                
                {% endfor %}
              </div>
              
          </div>
      </div>

      <div class="tab-pane container fade" id="new1">
        <div class="right-box">
          <div class="col align-self-center auth-container2" style="width: 100%; margin-left:20%; margin-right:20% ;height:100%;margin-top: 10%;">
            {% for article in article %}
              
              {% if article.model == "30img_95epoch_DIV2K" %}
              <div class="card articles" style="width: 18rem; display: inline-block;">
                <a href="/article/{{article.id}}">
                <img class="card-img-top" src="static/article/{{article.img_name}}" alt="{{article.img_name}} " style="height: 20rem;">

                <div class="card-body">
                  <p class="card-text">{{article.title | safe}}  </p>
                  {% for users in alluser %}
                  {% if users.id == article.user_id %}
                    <p style="font-size: small; float: right;">BY:  {{users.name}}</p>
                  {% endif %}
                  {% endfor %}
                </div>
              </a>
              </div>
              {% endif %}
            
            {% endfor %}
          </div>
          
      </div>
    </div>

     


        
    </div>
  </div>
    
    
</div>

<script>
    function myFunction() {
  var x = document.getElementById("summer");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
} 
</script>


{% endblock %}

